<%= form_for @print do |f| %>

<% if @print.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@print.errors.count, "error") %> prohibited
        this print from being saved:
      </h2>
      <ul>
        <% @print.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
    <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </p>
    
    <p>
        <%= f.select :filament_id, options_for_select(@filament_options) %>
    </p>
    <p>
        <%= f.label :length %><br>
        <%= f.number_field :length %>
    </p>
    
    <p>
        <%= f.label :weight %><br>
        <%= f.number_field :weight, :step => "0.01" %>
    </p>
    
    <p>
        <%= f.label :volume %><br>
        <%= f.number_field :volume, :step => "0.01" %>
    </p>
    
    <p>
        <%= f.label :price %><br>
        <%= f.number_field :price, :step => "0.01" %>
    </p>
    
    <p>
        <%= f.label :printed_date %><br>
        <%= f.date_field :printed_date %>
    </p>
    
    <p>
        <%= f.label :print_time_in_seconds %>
        <%= f.number_field :print_time %>
    </p>
    
    <p>
        <%= f.label :extruder_id %><br>
        <%= f.number_field :extruder_id %>
    </p>
    
    <p>
        <%= f.submit %>
    </p>
<% end %>