<h1>Listing prints</h1>
  <div class="index_tables"> 
    <table>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Name</th>
        <th>Filament</th>
        <th>Length(mm)</th>
        <th>Weight(g)</th>
        <th>Volume(cm^3)</th>
        <th>Print Time</th>
        <th>Extruder ID</th>
        <th>Sold for</th>
        <th> Material cost</th>
        <th>Net</th>
      </tr>
      <% @prints.each do |print| %>
        <tr>
          <td><%= print.id %></td>
          <td><%= print.printed_date %></td>
          <td><%= print.name %></td>
          <% if (print.filament_id != nil) %> 
            <td><%= Filament.find(print.filament_id).name %></td>
          <% else %>
            <td>N/A</td>
          <% end %>
          <td><%= print.length %>mm</td>
          <td><%= print.weight %>g</td>
          <td><%= print.volume %></td>
          <% if (print.print_time != nil) %>
            <td><%= Time.at(print.print_time).utc.strftime("%H:%M:%S") %></td>
          <% else %>
            <td> n/a </td>
          <% end %>
          <td><%= print.extruder_id %></td>
          <td><%= number_to_currency(print.price) %></td>
          <td><%= number_to_currency((Filament.find(print.filament_id).cost/Filament.find(print.filament_id).length)*print.length) %></td>
          <% if (print.price != 0) %>
            <td><%= number_to_currency(print.price-((Filament.find(print.filament_id).cost/Filament.find(print.filament_id).length)*print.length)) %></td>
          <% else %>
            <td> $0.00</td>
          <% end %>
          <td><%= link_to 'Show', print_path(print), class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_print_path(print), class: 'btn btn-warning' %>
          <%= link_to 'Destroy', print_path(print),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </table>
    <br>
    <%= link_to '+Add Print', new_print_path, class: 'btn btn-primary' %>
     <p>
    <h3>Import Prints</h3>
      <%= form_tag import_prints_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import CSV" %>
      <% end %>
    </p>
  </div>