<p>
  <strong>ID:</strong>
  <%= @print.id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @print.printed_date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @print.name %>
</p>

<p>
  <strong>Filament:</strong>
  <% if (@print.filament_id != nil) %>
    <%= @print.filament.name %>
  <% else %>
  N/A
  <% end %>
</p>

<p>
  <strong>Length:</strong>
  <%= @print.length %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @print.weight %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @print.volume %>
</p>

<p>
  <strong>Extruder:</strong>
  <%= @print.extruder_id %>
</p>

<p>
  <strong>Print time:</strong>
  <% if (@print.print_time != nil) %>
    <td><%= Time.at(@print.print_time).utc.strftime("%H:%M:%S") %></td>
  <% else %>
    <td> n/a </td>
  <% end %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@print.price) %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @print.notes %>
</p>

<%= link_to 'Edit', edit_print_path(@print), class: 'btn btn-warning' %>
<%= link_to 'Prints', prints_path, class: 'btn btn-primary' %>
<%= link_to 'Home', root_path, class: 'btn btn-primary' %>