<p>
  <strong>ID:</strong>
  <%= @print.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @print.name %>
</p>

<p>
  <strong>Filament:</strong>
  
</p>

<p>
  <strong>Length:</strong>
  <%= @print.length %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @print.weight %>
</p>

<p>
  <strong>Price:</strong>
  <%= @print.price %>
</p>

<%= link_to 'Edit', edit_print_path(@print) %>
<%= link_to 'Back', prints_path %>