<%= form_for @filament do |f| %>

<% if @filament.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@filament.errors.count, "error") %> prohibited
        this filament from being saved:
      </h2>
      <ul>
        <% @filament.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <p>
        <strong><%= f.label :name %></strong><br>
        <%= f.text_field :name %>
    </p>
    
    <p>
        <strong><%= f.label :material %></strong><br>
        <%= f.text_field :material %>
    </p>
    
    <p>
        <strong><%= f.label :color %></strong><br>
        <%= f.text_field :color %>
    </p>
    
    <p>
        <strong><%= f.label :length %></strong><br>
        <%= f.number_field :length %>
    </p>
    
    <p>
        <strong><%= f.label :weight %></strong><br>
        <%= f.number_field :weight, :step => "0.01" %>
    </p>
    
    <p>
        <strong><%= f.label :diameter %></strong><br>
        <%= f.number_field :diameter, :step => "0.01" %>
    </p>
    
    <p>
        <strong><%= f.label :cost %></strong><br>
        <%= f.number_field :cost, :step => "0.01" %>
    </p>
    
    <p>
        <strong><%= label :archived, "Available" %></strong>
        <%= f.radio_button :archived, false , :value => false %>
        <br>
        <strong><%= label :archived, "Archived"%></strong>
        <%= f.radio_button :archived, true, :value => true%>
    </p>
        
    <p>
        <%= f.submit class: 'btn btn-warning'  %>
    </p>
<% end %>