<%= form_for @filament do |f| %>

<% if @filament.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@filament.errors.count, "error") %> prohibited
        this filament from being saved:
      </h2>
      <ul>
        <% @filament.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
    <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </p>
    
    <p>
        <%= f.label :material %><br>
        <%= f.text_field :material %>
    </p>
    
    <p>
        <%= f.label :color %><br>
        <%= f.text_field :color %>
    </p>
    
    <p>
        <%= f.label :length %><br>
        <%= f.number_field :length %>
    </p>
    
    <p>
        <%= f.label :weight %><br>
        <%= f.number_field :weight %>
    </p>
    
    <p>
        <%= f.label :cost %><br>
        <%= f.number_field :cost %>
    </p>
    
    <p>
        <%= f.submit %>
    </p>
<% end %>