<p id="notice"><%= notice %></p>
<h1>Listing filaments</h1>
  <%= link_to "Active Filaments", filaments_path(:archived=>0) %> ::
  <%= link_to "Archvied Filaments", filaments_path(:archived=>1) %> ::
  <%= link_to "All Filaments", filaments_path %>
<div class="index_tables">
  <table>
    <thread>
    <tr>
      <th><%= sortable "id", "ID" %></th>
      <th><%= sortable "name", "Name" %></th>
      <th><%= sortable "material", "Material" %></th>
      <th>Color</th>
      <th>Diameter</th>
      <th>Length (mm)</th>
      <th>Length Used</th>
      <th>Remaining Length</th>
      <th>Weight (g)</th>
      <th>Weight Used</th>
      <th>Remaining Weight</th>
      <th>Cost</th>
      <th><%= sortable "archived", "Availabile?" %></th>
      <th>Actions</th>
    </tr>
    </thread>
    <% @filaments.each do |filament| %>
      <tr>
        <td><%= filament.id %></td>
        <td><%= filament.name %></td>
        <% if (filament.material_id != nil) %> 
            <td><%= Material.find(filament.material_id).name %></td>
          <% else %>
            <td>N/A</td>
          <% end %>
        <td><%= filament.color %></td>
        <td><%= filament.diameter %></td>
        <td><%= filament.length %>mm</td>
        <td><%= filament.prints.sum(:length) %>mm</td>
        <%# Exceptionally ugly code to loop through factoring the filament % and color coding %>
        <% filament_percentage = (100-((filament.prints.sum(:length) / filament.length)*100)).round(2) %>
        <% if (filament_percentage < 0) %>
          <td bgcolor="#000000" style="color:#FFFFFF"> 0%</td>
        <% elsif (filament_percentage > 70) %>
          <td><%= filament_percentage %>%</td>
        <% elsif (filament_percentage > 50) %>
          <td bgcolor="#37cc2a"> <%= filament_percentage %>%</td>
        <% elsif (filament_percentage > 40) %>
          <td bgcolor="#f0f215"> <%= filament_percentage %>%</td>
        <% elsif (filament_percentage > 30) %>
          <td bgcolor="#f6830d"> <%= filament_percentage %>%</td>
        <% elsif (filament_percentage > 10) %>
          <td bgcolor="#dd3131" style="color:#FFFFFF"> <%= filament_percentage %>%</td>
        <% else %>
          <td bgcolor="000000" style="color:#FFFFFF"> <%= filament_percentage %>%</td>
        <% end %>
        <td><%= filament.weight %>g</td>
        <td><%= filament.prints.sum(:weight) %>g</td>
        <td><%= ((filament.prints.sum(:weight) / filament.weight)*100).round(2) %>%</td>
        <td><%= number_to_currency(filament.cost) %></td>
        <%# Archived status logic %>
        <% if (filament.archived == true) %>
          <td style="text-align:center; color:red"><span class="glyphicon glyphicon-remove-sign"></span></td>
        <% else %>
          <td style="text-align:center; color:green"><span class="glyphicon glyphicon-ok-sign"></span></td>
        <% end %>
        <td>
          <%= link_to filament_path(filament) do %>
            <span class="glyphicon glyphicon-info-sign"></span>
          <% end %>
          <%= link_to edit_filament_path(filament) do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to filament_path(filament),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<br>
<%= link_to '+Add Filament', new_filament_path, class: 'btn btn-primary' %>
<p>
  <br><%= link_to 'Import filaments', home_importer_path %>
</p>