<p>
  <strong>ID:</strong>
  <%= @filament.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @filament.name %>
</p>

<p>
  <strong>Material:</strong>
  <%= @filament.material %>
</p>

<p>
  <strong>Color:</strong>
  <%= @filament.color %>
</p>

<p>
  <strong>Diameter:</strong>
  <%= @filament.diameter %>
</p>

<p>
  <strong>Length:</strong>
  <%= @filament.length %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @filament.weight %>
</p>

<p>
  <strong>Cost:</strong>
  <%= number_to_currency(@filament.cost) %>
</p>

<p>
  <strong>Archived?</strong>
  <%= @filament.archived %>
</p>

<%= link_to 'Edit', edit_filament_path(@filament), class: 'btn btn-sm btn-warning' %>
<%= link_to 'Filaments', filaments_path, class: 'btn btn-sm btn-primary' %>
<%= link_to 'Home', root_path, class: 'btn btn-sm btn-primary' %>
