<p>
  <strong>ID:</strong>
  <%= @filament.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @filament.name %>
</p>
 
<p>
  <strong>Material:</strong>
  <%= @filament.material %>
</p>

<p>
  <strong>Color:</strong>
  <%= @filament.color %>
</p>

<p>
  <strong>Length:</strong>
  <%= @filament.length %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @filament.weight %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @filament.cost %>
</p>

<%= link_to 'Edit', edit_filament_path(@filament) %>
<%= link_to 'Back', filaments_path %>