<%= form_for(@material) do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% @material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <p>
    <strong><%= f.label :name %></strong><br>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <strong><%= f.label :manufacturer %></strong><br>
    <%= f.text_field :manufacturer %>
  </p>

  <p>
    <strong><%= f.label :description %></strong><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <strong><%= f.label :extruder_temp %></strong><br>
    <%= f.number_field :extruder_temp %>
  </p>

  <p>
    <strong><%= f.label :bed_temp %></strong><br>
    <%= f.number_field :bed_temp %>
  </p>

  <p>
    <strong><%= f.label :notes %></strong><br>
    <%= f.text_area :notes %>
  </p>

  <p>
    <strong><%= f.label :density %></strong><br>
    <%= f.text_field :density %>
  </p>

  <p>
    <%= f.submit class: 'btn btn-warning'  %>
  </p>
<% end %>
