<!DOCTYPE html>
<html>
<head>
  <title>AnvilTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/messages' %>
  <%= render "layouts/header" %>
  <div id="main-content" class="container">
    <div class="col-md-2 menu">
      <p>
          <% if user_signed_in? %>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Filaments', filaments_path %></li>
          <li><%= link_to 'Prints', prints_path %></li>
          <li><%= link_to 'Edit User', edit_user_registration_path %></li>
          <% else %>
          <% end %>
          <%= render 'devise/menu/login' %>
      </p>
    </div>
    <div class="col-md-10">
      <div class="colleft">

      </div>
      <div class="col2">
        <%= yield %>
      </div>
      <div class="col3">
      </div>
      </div>
    </div>
  </div>
<%= render "layouts/footer" %>
</body>
</html>
