<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <h1> ANVIL TRACKER</h1>
  </div>
  <div class="colmask">
    <div class="colmid">
      <div class="colleft">
        <div class="col2">
        <p>
          <h2>Menu</h2>
            <br>
            <%= link_to 'Home', root_path %>
            <br>
            <%= link_to 'List of Filaments', controller: 'filaments' %>
            <br>
            <%= link_to 'List of Prints', controller: 'prints' %>
            <br>
        </p>
        </div>
        <div class="col1">
          <%= yield %>
        </div>
        <div class="col3">
          <img src="http://placehold.it/160x600">
        </div>
      </div>
    </div>
  </div>
<div class="footer">
</div>
</body>
</html>
