<!DOCTYPE html>
<html>
<head>
  <title>Anvil Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="header">
    <br>
    <center><h1>ANVIL TRACKER</h1></center>
  </div>
  <div class="colmask">
    <div class="colmid">
      <div class="colleft">
        <div class="col2">
        <p>
          <h2>Menu</h2>
            <br>
            <% if user_signed_in? %>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Filaments', filaments_path %></li>
            <li><%= link_to 'Prints', prints_path %></li>
            <li><%= link_to 'Edit User', edit_user_registration_path %></li>
            <% else %> 
            <% end %>
            <%= render 'devise/menu/login' %>
        </p>
        </div>
        <div class="col1">
          <%= yield %>
        </div>
        <div class="col3">
        </div>
      </div>
    </div>
  </div>
<div class="footer">
</div>
</body>
</html>
